* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

button:focus {
  outline: none;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

header .topmenu {
  background-color: #f5f5f5;
  color: #b1b1b1;
  font-weight: 400;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

header .topmenu .container-fluid {
  height: 45px;
}

header .topmenu .container-fluid .row {
  padding: 0;
  margin: 0;
  height: 45px;
}

header .topmenu .container-fluid .row #lang {
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  color: #b1b1b1;
}

header .topmenu .container-fluid .row .header-social {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .topmenu .container-fluid .row .header-social a {
  margin: 2%;
}

header .topmenu .container-fluid .row .header-social a i {
  color: #888888;
}

header .topmenu .container-fluid .row .header-text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .topmenu .container-fluid .row .header-lang {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .topmenu .container-fluid .row .header-lang select {
  margin: 6%;
}

header .wrapp-menu {
  background-color: white;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapp-menu .row {
  position: relative;
  margin: 0;
  padding: 0;
}

header .wrapp-menu .nav-menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .wrapp-menu .nav-menu nav {
  width: 100%;
}

header .wrapp-menu .nav-menu .home-number {
  background-color: black;
  color: white;
  position: absolute;
  top: 70%;
  left: 2%;
  z-index: 2;
  display: none;
}

header .wrapp-menu .nav-menu .home-number ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .wrapp-menu .nav-menu .home-number ul li {
  display: block;
  width: 100%;
}

header .wrapp-menu .nav-menu .home-number ul li a {
  color: white;
  text-decoration: none;
  font-size: 90%;
  -webkit-transition-duration: 0.7;
          transition-duration: 0.7;
}

header .wrapp-menu .nav-menu .home-number ul li a:hover {
  color: #ec7c6c;
}

header .wrapp-menu .nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapp-menu .nav-menu ul li {
  padding: 10px;
  margin: 1%;
  display: inline;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

header .wrapp-menu .nav-menu ul li a {
  font-size: 110%;
  text-align: center;
  text-decoration: none;
  color: #797979;
  font-weight: 200;
}

header .wrapp-menu .nav-menu ul li a:hover {
  text-decoration: underline;
}

header .wrapp-menu .nav-menu ul li a:active {
  color: #ec7c6c;
}

header .wrapp-menu .nav-menu ul li:first-child {
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

header .wrapp-menu .nav-menu ul li:first-child:hover .home-number {
  display: inline;
}

header .wrapp-menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4%;
}

header .wrapp-menu .logo img {
  width: 35%;
}

header .wrapp-menu .menu-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 2%;
}

header .wrapp-menu .menu-user a {
  margin: 5%;
}

header .wrapp-menu .menu-user i {
  display: none;
}

header .hamburger {
  width: 100%;
  margin: 0;
  padding: 0;
  display: none;
}

@media only screen and (max-width: 1000px) {
  .topmenu {
    display: none !important;
  }
  .wrapp-menu .nav-menu {
    display: none !important;
  }
}

@media only screen and (max-width: 800px) {
  .wrapp-menu {
    display: none !important;
  }
  .hamburger {
    display: block !important;
  }
}

.arrow a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  z-index: 1000;
  background-color: #b1b1b1;
  position: absolute;
  left: 95%;
  top: 90%;
  position: fixed;
  text-decoration: none;
  color: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.arrow a:hover {
  background-color: #e6614d;
}
/*# sourceMappingURL=blogdetail.css.map */