* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

header .topmenu {
  background-color: #f5f5f5;
  color: #b1b1b1;
  font-weight: 400;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

header .topmenu .container-fluid {
  height: 45px;
}

header .topmenu .container-fluid .row {
  padding: 0;
  margin: 0;
  height: 45px;
}

header .topmenu .container-fluid .row #lang {
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
  color: #b1b1b1;
}

header .topmenu .container-fluid .row .header-social {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .topmenu .container-fluid .row .header-social a {
  margin: 2%;
}

header .topmenu .container-fluid .row .header-social a i {
  color: #888888;
}

header .topmenu .container-fluid .row .header-text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .topmenu .container-fluid .row .header-lang {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .topmenu .container-fluid .row .header-lang select {
  margin: 6%;
}

header .wrapp-menu {
  background-color: white;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapp-menu .row {
  position: relative;
  margin: 0;
  padding: 0;
}

header .wrapp-menu .nav-menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .wrapp-menu .nav-menu nav {
  width: 100%;
}

header .wrapp-menu .nav-menu .home-number {
  background-color: black;
  color: white;
  position: absolute;
  top: 70%;
  left: 2%;
  z-index: 2;
  display: none;
}

header .wrapp-menu .nav-menu .home-number ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .wrapp-menu .nav-menu .home-number ul li {
  display: block;
  width: 100%;
}

header .wrapp-menu .nav-menu .home-number ul li a {
  color: white;
  text-decoration: none;
  font-size: 90%;
  -webkit-transition-duration: 0.7;
          transition-duration: 0.7;
}

header .wrapp-menu .nav-menu .home-number ul li a:hover {
  color: #ec7c6c;
}

header .wrapp-menu .nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapp-menu .nav-menu ul li {
  padding: 10px;
  margin: 1%;
  display: inline;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

header .wrapp-menu .nav-menu ul li a {
  font-size: 110%;
  text-align: center;
  text-decoration: none;
  color: #797979;
  font-weight: 200;
}

header .wrapp-menu .nav-menu ul li a:hover {
  text-decoration: underline;
}

header .wrapp-menu .nav-menu ul li a:active {
  color: #ec7c6c;
}

header .wrapp-menu .nav-menu ul li:first-child {
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

header .wrapp-menu .nav-menu ul li:first-child:hover .home-number {
  display: inline;
}

header .wrapp-menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4%;
}

header .wrapp-menu .logo img {
  width: 35%;
}

header .wrapp-menu .menu-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 2%;
}

header .wrapp-menu .menu-user a {
  margin: 5%;
}

header .wrapp-menu .menu-user i {
  display: none;
}

header .hamburger {
  width: 100%;
  margin: 0;
  padding: 0;
  display: none;
}

@media only screen and (max-width: 1000px) {
  .topmenu {
    display: none !important;
  }
  .wrapp-menu .nav-menu {
    display: none !important;
  }
}

@media only screen and (max-width: 800px) {
  .wrapp-menu {
    display: none !important;
  }
  .hamburger {
    display: block !important;
  }
}

.section1 {
  height: 235px;
  background-image: url("../img3/heading-pages-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section1 .headtext {
  text-align: center;
}

.section1 .headtext h1 {
  color: white;
  font-weight: bold;
  font-size: 350%;
}

.section1 .headtext p {
  font-weight: 400;
  font-size: 120%;
  color: white;
}

.sale {
  padding-top: 0;
}

.sale .row {
  margin: 0;
  padding: 0;
}

.sale .row .left {
  padding: 0;
}

.sale .row .left h3 {
  color: black;
  font-weight: bold;
  font-size: 150%;
}

.sale .row .left .categories {
  margin-top: 15%;
}

.sale .row .left .categories ul {
  padding-left: 0;
}

.sale .row .left .categories ul li {
  margin-top: 1%;
  list-style: none;
}

.sale .row .left .categories ul li a {
  text-decoration: none;
  color: #b1b1b1;
}

.sale .row .left .filters h5 {
  color: #7c7a7a;
}

.sale .row .left .filters button {
  background-color: #333333;
  font-size: 100%;
  color: white;
  border: none;
  border-radius: 23px;
  padding: 1% 6%;
}

.sale .row .left .color h5 {
  color: #7c7a7a;
}

.sale .row .left .color ul {
  padding: 0;
}

.sale .row .left .color ul li {
  list-style: none;
  display: inline;
  margin-right: 5px;
}

.sale .row .left .color ul li a {
  padding: 2% 6%;
  border-radius: 50%;
  background-color: black;
}

.sale .row .left .color ul li a:visited {
  border: 2px solid black;
}

.sale .row .left .search {
  margin-top: 15%;
  position: relative;
}

.sale .row .left .search input {
  padding: 5% 7%;
  color: #7c7a7a;
  border: 1px solid #7c7a7a;
}

.sale .row .left .search i {
  position: absolute;
  left: 65%;
  top: 30%;
}

.sale .row .right .head {
  padding-left: 2%;
  margin-top: 3%;
  margin-bottom: -3%;
}

.sale .row .right .head span {
  margin-left: 30%;
  font-size: 90%;
  color: #b1b1b1;
}

.sale .row .right .head select {
  width: 20%;
  margin-right: 2%;
  padding: 2%;
  text-decoration: none;
  color: #b1b1b1;
  font-size: 90%;
}

.sale .row .right .head select option {
  color: #b1b1b1;
  font-size: 90%;
}

.sale .row .right .head select option:hover {
  background-color: orangered;
  color: white;
}

.sale .row .right .item {
  position: relative;
}

.sale .row .right .item .add-card {
  display: none;
  width: 100%;
  position: absolute;
  top: 70%;
  left: 22%;
}

.sale .row .right .item .add-card a:first-child {
  color: white;
  padding: 3% 8%;
  background-color: black;
  border-radius: 23px;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.sale .row .right .item .add-card a:hover {
  background-color: #e65540;
}

.sale .row .right .item .sp {
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 1px 10px;
  border-radius: 23px;
  color: white;
}

.sale .row .right .item .new {
  background-color: #66a8a6;
}

.sale .row .right .item .sale {
  background-color: #e65540;
}

.sale .row .right .item i {
  position: absolute;
  top: 5%;
  left: 90%;
}

.sale .row .right .item:hover .add-card {
  display: block;
}

.sale .row .right div {
  padding-top: 3%;
}

.sale .row .right div a {
  font-weight: 100;
  font-size: 110%;
  text-decoration: none;
  color: #7c7a7a;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.sale .row .right div a:hover {
  color: #be4f3c;
}

.sale .row .right div p {
  color: #7c7a7a;
  font-size: 110%;
}

.sale .row .right div p:last-child span:first-child {
  text-decoration: line-through;
}

.sale .row .right div p:last-child span:last-child {
  color: #be4f3c;
}

footer {
  padding-top: 7%;
  width: 100%;
  background-color: #f5f5f5;
}

footer .container .row h3 {
  font-size: 110%;
  font-weight: bold;
}

footer .container .row p {
  color: #707070;
  text-align: left;
  font-size: 90%;
}

footer .container .row a {
  color: #707070;
  text-decoration: none;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  display: block;
  margin-top: 4%;
}

footer .container .row a:hover {
  color: #ec7c6c;
}

footer .container .row .social a {
  display: inline;
  margin-left: 3%;
}

footer .container .row .col-12 {
  padding-bottom: 4%;
}

footer .container .row .col-12 div {
  margin-top: 10%;
  text-align: left;
}

footer .container .row .new a {
  width: 60%;
  text-align: center;
  padding: 4% 1%;
  color: white;
  background-color: black;
  border-radius: 23px;
  font-size: 110%;
  -webkit-transition-duration: 0.7;
          transition-duration: 0.7;
}

footer .container .row .new a:hover {
  background-color: #ec7c6c;
}

footer .container .row .new input {
  padding: 1%;
  border: none;
  border-bottom: 1px solid #707070;
  background-color: #f5f5f5;
  font-size: 90%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

footer .container .row .new input:focus {
  border-bottom: 1px solid #e6614d;
}

footer .container .row .pay-card {
  padding-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container .row .pay-card a {
  margin: 2px;
}

footer .container .row p {
  text-align: center;
}

.arrow a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  z-index: 1000;
  background-color: #b1b1b1;
  position: absolute;
  left: 95%;
  top: 90%;
  position: fixed;
  text-decoration: none;
  color: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.arrow a:hover {
  background-color: #e6614d;
}
/*# sourceMappingURL=sale.css.map */